---
import "lightgallery/css/lightgallery-bundle.min.css";
import "./style.scss";
---

<script>
  import lightGallery from "lightgallery";

  // Plugins
  import lgThumbnail from "lightgallery/plugins/thumbnail";
  import lgZoom from "lightgallery/plugins/zoom";

  const gallery = document.getElementById("lightgallery5") as HTMLElement;
  if (gallery) {
    lightGallery(gallery, {
      plugins: [lgZoom, lgThumbnail],
    });
  }
</script>

<div id="page5" class="pages_page">
  <div class="pages_page__inner">
    <div class="pagenumber">4 5</div>
    <div class="bg">
      <div id="lightgallery5" class="photo-album">
        <a href="/wedding/img/album/img1.jpg" class="large polaroid img1"
          ><img src="/wedding/img/album/img1.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img2.jpg" class="polaroid img2"
          ><img src="/wedding/img/album/img2.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img3.jpg" class="medium polaroid img3"
          ><img src="/wedding/img/album/img3.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img4.jpg" class="medium polaroid img4"
          ><img src="/wedding/img/album/img4.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img5.jpg" class="polaroid img5"
          ><img src="/wedding/img/album/img5.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img6.jpg" class="polaroid img6"
          ><img src="/wedding/img/album/img6.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img7.jpg" class="polaroid img7"
          ><img src="/wedding/img/album/img7.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img8.jpg" class="medium polaroid img8"
          ><img src="/wedding/img/album/img8.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img9.jpg" class="large polaroid img9"
          ><img src="/wedding/img/album/img9.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img10.jpg" class="polaroid img10"
          ><img src="/wedding/img/album/img10.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img11.jpg" class="small polaroid img11"
          ><img src="/wedding/img/album/img11.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img12.jpg" class="medium polaroid img12"
          ><img src="/wedding/img/album/img12.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img13.jpg" class="polaroid img13"
          ><img src="/wedding/img/album/img13.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img14.jpg" class="polaroid img14"
          ><img src="/wedding/img/album/img14.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img26.jpg" class="!hidden polaroid img26"
          ><img src="/wedding/img/album/img26.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img15.jpg" class="!hidden polaroid img15"
          ><img src="/wedding/img/album/img15.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img16.jpg" class="!hidden polaroid img16"
          ><img src="/wedding/img/album/img16.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img17.jpg" class="!hidden polaroid img17"
          ><img src="/wedding/img/album/img17.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img18.jpg" class="!hidden polaroid img18"
          ><img src="/wedding/img/album/img18.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img19.jpg" class="!hidden polaroid img19"
          ><img src="/wedding/img/album/img19.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img20.jpg" class="!hidden polaroid img20"
          ><img src="/wedding/img/album/img20.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img21.jpg" class="!hidden polaroid img21"
          ><img src="/wedding/img/album/img21.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img22.jpg" class="!hidden polaroid img22"
          ><img src="/wedding/img/album/img22.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img23.jpg" class="!hidden polaroid img23"
          ><img src="/wedding/img/album/img23.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img24.jpg" class="!hidden polaroid img24"
          ><img src="/wedding/img/album/img24.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img25.jpg" class="!hidden polaroid img25"
          ><img src="/wedding/img/album/img25.jpg" alt="" /></a
        >
      </div>
    </div>
    <!-- <div class="content"></div> -->
    <div class="control">
      <label for="two"></label>
    </div>
  </div>
</div>
