---

---

<div id="page6" class="pages_page">
  <div class="pages_page__inner">
    <div class="control next">
      <label for="four"></label>
    </div>
    <div class="bg"></div>
    <!-- <div class="content"></div> -->
  </div>
</div>
