---

---

<div id="page4" class="pages_page">
  <div class="pages_page__inner">
    <!-- <div class="menu">
          <div class="menu_part"></div>
          <div class="menu_part"></div>
          <div class="menu_part"></div>
        </div> -->
    <div class="control next">
      <label for="three"></label>
    </div>
    <div class="bg"></div>
    <div class="content">
      <!-- <div class="content_quote">
        <h5>
          <span class="quo">
            <i>"</i>
          </span>
          <span>This is a quote</span>
          <span>from someone</span>
          <span class="name">Jamie Coulter</span>
          <span class="auth">- Jcoulterdesign</span>
          <span class="quo">"</span>
        </h5>
      </div> -->

      <h1>
        <span>L</span>
        <span>o</span>
        <span>v</span>
        <span>e</span>
        <span>&nbsp;&nbsp;</span>
        <span>B</span>
        <span>l</span>
        <span>o</span>
        <span>s</span>
        <span>s</span>
        <span>o</span>
        <span>m</span>
        <span>s</span>
        <span>&nbsp;&nbsp;</span>
        <span>a</span>
        <span>t</span>
        <span>&nbsp;&nbsp;</span>
        <span>t</span>
        <span>h</span>
        <span>e</span>
        <span>&nbsp;&nbsp;</span>
        <span>O</span>
        <span>f</span>
        <span>f</span>
        <span>i</span>
        <span>c</span>
        <span>e</span>
      </h1>
    </div>
  </div>
</div>
