---

---

<div id="page3" class="pages_page">
  <div class="pages_page__inner">
    <!-- <div class="logo">Hai Anh & Nam Tran</div> -->
    <div class="pagenumber">2 3</div>
    <div class="control">
      <label for="one"></label>
    </div>
    <div class="content">
        <h1>
          <span>L</span>
          <span>o</span>
          <span>v</span>
          <span>e</span>
          <span>&nbsp;&nbsp;</span>
          <span>B</span>
          <span>l</span>
          <span>o</span>
          <span>s</span>
          <span>s</span>
          <span>o</span>
          <span>m</span>
          <span>s</span>
          <span>&nbsp;&nbsp;</span>
          <span>a</span>
          <span>t</span>
          <span>&nbsp;&nbsp;</span>
        <span>t</span>
        <span>h</span>
        <span>e</span>
        <span>&nbsp;&nbsp;</span>
        <span>O</span>
        <span>f</span>
        <span>f</span>
        <span>i</span>
        <span>c</span>
        <span>e</span>
      </h1>
<div>
      <div class="content_offset left">
        <h2>Groom</h2>
        <p>
          In the midst of the daily hustle and bustle at our workplace, my love
          story with my colleague has flourished. Her presence in the office
          brightens my day, and our shared moments during coffee breaks and
          lunch hours have woven a tapestry of love and connection. She's not
          just my colleague; she's the one who's stolen my heart in the most
          ordinary of settings, and I couldn't be happier.
        </p>
      </div>
      <div class="content_offset right">
        <h2>Bride</h2>
        <p>
          Our relationship is a testament to the idea that love can bloom in the
          most unexpected places, and I cherish the fact that my heart belongs
          to a colleague who understands both my career aspirations and the
          depths of my feelings. In the ordinary backdrop of our office, we
          discovered an extraordinary love, and I wouldn't have it any other
          way.
        </p>
      </div>

      <div class="content_picture left">
        <img src="/wedding/img/img-story1.jpeg" />
      </div>
      <div class="content_picture right">
        <img src="/wedding/img/img-story2.jpeg" />
      </div>
      </div>
      
    </div>
  </div>
</div>
