---

---

<div id="page2" class="pages_page">
  <div class="pages_page__inner">
    <div class="content">
      <!-- <h4><span>Kính mời: </span>Vũ Hải Anh</h4> -->
      <!-- <div class="content_center right">
        <h4>Vũ Hải Anh</h4>
      </div>
      <div class="overlay"></div> -->
    </div>
    <div class="control next">
      <label for="two"></label>
    </div>
    <div class="bg"></div>
  </div>
</div>
