---

---

<div id="page8" class="pages_page">
  <div class="pages_page__inner">
    <!-- <div class="menu">
          <div class="menu_part"></div>
          <div class="menu_part"></div>
          <div class="menu_part"></div>
        </div> -->
    <div class="bg"></div>
    <div class="content"></div>
  </div>
</div>
